<template>
    <div>
        <content-header title="Редактирование пользователя" />
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <form v-on:submit="saveUser" action="#" method="post">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="name"
                                           v-model="user.name"
                                           class="form-control"
                                           id="inputName"
                                           placeholder="Имя">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email"
                                           name="email"
                                           v-model="user.email"
                                           class="form-control"
                                           id="inputEmail"
                                           placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info float-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "UserEdit",
        data() {
            return {
                user: {
                    name:null,
                    email:null
                },
                userId: this.$router.currentRoute.params.id
            };
        },
        async mounted() {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
            await axios.get('/api/user/' + this.userId + '/edit').then(response => {
                this.user = response.data;
            }).catch(error => {
                console.log(error);
            });
        },
        methods: {
            saveUser(e) {
                e.preventDefault();

                axios.put('/api/user/' + this.userId + '/edit', this.user).then(response => {
                    this.user = response.data;
                    this.successUserSave();
                }).catch(error => {
                    console.log(error);
                });
            }
        },
        notifications: {
            successUserSave: {
                title: '',
                message: 'Пользователь успешно сохранен',
                type: 'success',
            }
        }
    }
</script>