<template>
    <div>
        <content-header title="Пользователи" />
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Имя</th>
                                <th>Email</th>
                                <th style="width: 40px">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="user in users">
                                <td>{{user.id}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>
                                    <router-link :to="{name: 'user-edit', params: {id: user.id}}">
                                        <i class="fas fa-edit"></i>
                                    </router-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "UserList",
        data() {
            return {
                users: null
            }
        },
        mounted() {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
            axios.get('/api/user/list').then(response => {
                this.users = response.data;
            }).catch( error => {
                console.log(error);
            });
        }
    }
</script>

<style scoped>

</style>