<template>
    <div>
        <content-header title="Подкатегории" v-bind:isCreateButton="true" buttonText="Создать" v-bind:buttonLink="{name: 'sub-category-create', params: {category: this.categoryId}}"/>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Имя</th>
                                <th style="width: 40px">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="category in subCategories" v-bind:key="category.id">
                                <td>{{category.id}}</td>
                                <td>{{category.name}}</td>
                                <td>
                                    <router-link :to="{
                                                        name: 'sub-category-edit',
                                                        params: {subCategory: category.id, category: categoryId}
                                                      }"
                                                 class="actions-list">
                                        <i class="fas fa-edit"></i>
                                    </router-link>
                                    <router-link to="#0" v-on:click.native="deleteCategory(category.id, $event)" class="actions-list">
                                        <i class="fas fa-trash-alt"></i>
                                    </router-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import swal from 'sweetalert';

    export default {
        name: "SubCategoryList",
        data() {
            return {
                subCategories: null,
                categoryId: this.$router.currentRoute.params.category
            }
        },
        mounted() {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
            axios.get('/api/sub-categories?search=category_id:' + this.categoryId).then(response => {
                this.subCategories = response.data.data;
            }).catch( error => {
                console.log(error);
            });
        },
        methods: {
            deleteCategory(index, event) {
                event.preventDefault();

                swal("Внимание!", "Вы уверены что хотите удалить подкатегорию?", "warning", {
                    buttons: {
                        cancel: {
                            text: "Нет",
                            visible: true,
                            closeModal: true,
                        },
                        confirm: {
                            text: "Да",
                            closeModal: false,
                        },
                    },
                    dangerMode: true,
                }).then((confirm) => {
                    axios.delete('/api/sub-categories/' + index).then(response => {
                        console.log(index);
                        if (response.data.deleted) {
                            this.subCategories.splice(this.subCategories.indexOf(index), 1);
                            swal('', "Категория успешно удалена", "success");
                        }
                    }).catch(error => {
                        swal("ERROR", error.message, "error");
                    })
                });
            }
        }
    }
</script>