<template>
    <div>
        <content-header title="Редактирование подкатегории" />
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <form v-on:submit="saveSubCategory" action="#" method="post">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="name"
                                           v-model="subCategory.name"
                                           class="form-control"
                                           id="inputName"
                                           placeholder="Имя категории">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info float-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "SubCategoryStore",
        data() {
            return {
                subCategoryId: this.$router.currentRoute.params.subCategory,
                subCategory: {
                    name: null,
                    category_id: this.$router.currentRoute.params.category
                },
            }
        },
        async mounted() {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');

            if (this.subCategoryId) {
                await axios.get('/api/sub-categories/' + this.subCategoryId + '/edit').then(response => {
                    this.subCategory = response.data.data;
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        methods: {
            saveSubCategory(e) {
                e.preventDefault();

                if (this.subCategoryId) {
                    axios.put('/api/sub-categories/' + this.subCategoryId, this.subCategory).then(response => {
                        if (response.status === 200) {
                            console.log(response);
                            this.subCategory = response.data.data;
                            this.successCategorySave();
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                } else {
                    axios.post('/api/sub-categories', this.subCategory).then(response => {
                        if (response.status === 200) {
                            this.$router.push({name: 'sub-category-list'})
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                }
            }
        },
        notifications: {
            successCategorySave: {
                title: '',
                message: 'Категория успешно сохранена',
                type: 'success'
            }
        }
    }
</script>