<template>
    <component :is="layout"></component>
</template>

<script>
    import AppLayout from './components/layouts/AppLayout'
    import LoginLayout from './components/layouts/LoginLayout'

    export default {
        name: "App",
        mounted(){
            if (localStorage.getItem('token')) {

                this.$store.commit('setLayout', 'app-layout');
            } else {
                this.$store.commit('setLayout', 'login-layout');
            }
        },
        computed: {
            layout () {
                return this.$store.getters.layout
            }
        },
        components: {
            'app-layout' : AppLayout,
            'login-layout' : LoginLayout
        },
    }
</script>