<template>
    <div class="content-header">
        <div class="container-fluid">

        </div>
    </div>
</template>

<script>
    export default {
        name: "Home",
        mounted() {

        },
        beforeRouteEnter (to, from, next) {
            if (!localStorage.getItem('token')) {
                return next('/login');
            }

            next()
        }
    }
</script>