<template>
    <div>
        <content-header title="Пользователи" v-bind:isCreateButton="true" buttonText="Создать" v-bind:buttonLink="{name: 'category-create'}"/>
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Имя</th>
                                <th>Иконка</th>
                                <th class="float-right">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="category, index in categories" v-bind:key="index">
                                <td>{{category.id}}</td>
                                <td>{{category.name}}</td>
                                <td><img :src="category.icon" /></td>
                                <td class="float-right">
                                    <router-link title="Подкатегории" :to="{name:'sub-category-list', params: {category: category.id}}" class="actions-list">
                                        <i class="fas fa-stream"></i>
                                    </router-link>
                                    <router-link title="Редактировать" :to="{name: 'category-edit', params: {id: category.id}}" class="actions-list">
                                        <i class="fas fa-edit"></i>
                                    </router-link>
                                    <router-link title="Удалить" to="#0" v-on:click.native="deleteCategory(category.id, $event)" class="actions-list">
                                        <i class="fas fa-trash-alt"></i>
                                    </router-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import swal from 'sweetalert';

    export default {
        name: "CategoryList",
        data() {
            return {
                categories: null
            }
        },
        mounted() {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');
            axios.get('/api/categories').then(response => {
                this.categories = response.data;
            }).catch( error => {
                console.log(error);
            });
        },
        methods: {
            deleteCategory(index, event) {
                event.preventDefault();

                swal("Внимание!", "Вы уверены что хотите удалить категорию?", "warning", {
                    buttons: {
                        cancel: {
                            text: "Нет",
                            visible: true,
                            closeModal: true,
                        },
                        confirm: {
                            text: "Да",
                            closeModal: false,
                        },
                    },
                    dangerMode: true,
                }).then((confirm) => {
                    axios.delete('/api/categories/' + index).then(response => {
                        if (response.data.deleted) {
                            this.categories.splice(this.categories.indexOf(index), 1);
                            swal('', "Категория успешно удалена", "success");
                        }
                    }).catch(error => {
                        swal("ERROR", error.message, "error");
                    })
                });
            }
        }
    }
</script>