<template>
    <div>
        <content-header title="Создание категории" />
        <section class="content">
            <div class="container-fluid">
                <div class="card">
                    <form v-on:submit="saveCategory" action="#" method="post">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Имя</label>
                                <div class="col-sm-10">
                                    <input type="text"
                                           name="name"
                                           v-model="category.name"
                                           class="form-control"
                                           id="inputName"
                                           placeholder="Имя категории">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info float-right">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Store",
        data () {
            return {
                category: {
                    name: null
                },
                categoryId: this.$router.currentRoute.params.id
            }
        },
        async mounted() {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');

            if (this.categoryId) {
                await axios.get('/api/categories/' + this.categoryId + '/edit').then(response => {
                    this.category = response.data;
                }).catch(error => {
                    console.log(error);
                })
            }
        },
        methods: {
            saveCategory(e) {
                e.preventDefault();

                if (!this.categoryId) {
                    axios.post('/api/categories', this.category).then(response => {
                        if (response.status == 200) {
                            this.$router.push({name: 'category-list'})
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                } else {
                    axios.put('/api/categories/' + this.categoryId, this.category).then(response => {
                        if (response.status == 200) {
                            this.category = response.data;
                            this.successCategorySave();
                        }
                    }).catch(error => {
                        console.log(error);
                    })
                }
            }
        },
        notifications: {
            successCategorySave: {
                title: '',
                message: 'Категория успешно сохранена',
                type: 'success'
            }
        }
    }
</script>