<template>
    <div class="wrapper">
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#0" v-on:click.prevent="logout" class="nav-link">Sign out</a>
                </li>
            </ul>
        </nav>

        <sidebar></sidebar>

        <div class="content-wrapper">
            <router-view/>
        </div>

        <footer-vue></footer-vue>
    </div>
</template>

<script>
    import Sidebar      from './Sidebar';
    import FooterVue    from './Footer';

    export default {
        data(){
            return {
                isLoggedIn : null,
                user: {
                    id: null,
                    name: null,
                    email: null
                }
            }
        },
        mounted() {
            this.isLoggedIn = localStorage.getItem('token');

            if (this.isLoggedIn) {
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('token');

                axios.get('/api/user/details').then(response => {
                    this.user = response.data;
                }).catch( error => {
                    console.log(error);
                });
            }
        },
        components: {
            Sidebar,
            FooterVue
        },
        methods : {
            logout() {
                localStorage.clear();

                if (!localStorage.getItem('token')) {
                    this.$router.go('login');
                }
            }
        },
    }
</script>
