<template>
    <div>
        <div class="login-logo">
            <a href="#0"><b>S</b>herr</a>
        </div>
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Войдите для начала работы с панелью</p>

                <form action="/login" method="post">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" v-model="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input v-model="password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" @click="handleSubmit" class="btn btn-primary btn-block pull-right">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        data(){
            return {
                email : "",
                password : ""
            }
        },
        methods : {
            handleSubmit(e){
                e.preventDefault();

                if (this.password.length > 0) {
                    axios.post('oauth/token', {
                        username: this.email,
                        password: this.password,
                        grant_type: process.env.MIX_GRANT_TYPE,
                        client_id: process.env.MIX_CLIENT_ID,
                        client_secret: process.env.MIX_CLIENT_KEY,
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'Accept': 'application/json'
                        }
                    })
                    .then(response => {
                        localStorage.setItem('token' ,response.data.access_token);

                        if (localStorage.getItem('token') != null){
                            this.$router.go('/')
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
                }
            }
        },
        beforeRouteEnter (to, from, next) {
            if (localStorage.getItem('token')) {
                return next('/');
            }

            next()
        }
    }
</script>
