<template>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{title}}</h1>
                </div>
                <div v-if="isCreateButton" class="col-sm-6">
                    <router-link :to="buttonLink" class="float-right btn btn-success">{{buttonText}}</router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ContentHeader",
        props: {
            'title': String,
            'isCreateButton': Boolean,
            'buttonLink': Object,
            'buttonText': String
        },
    }
</script>